html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    max-width: 1600;
    

}

header{
    background-color: #BCD8C1;
    text-align: center;
    font-size: medium;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 13px;
}

.myImage{
    border-color: #788BFF;
    border-width: 3.0px;
    border-style: solid;
    border-radius: 250px 250px 250px 250px;
}

main{
    display:flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin-bottom: 0px;

}

aside{
    background-color: #E9D985;
    position: relative;
    padding-left: 20px;
    margin-top: 0px;
    flex: 1;
    margin-bottom: 0px;
}

.sideMenu{
    display: block;
    list-style-type: none;
    padding: 0px;
}

.mainContent{
    flex: 5.5;
    position: relative;
    left: 30px;
    padding: 20px;
    padding-right: 50px;
    margin-bottom: 0px;
}

footer{
    background-color: #BCD8C1;
    text-align: center;
    height: 150px;
    justify-content: center;
    display: block;
    padding-top: 16px;
}

.icons{
    display: inline;
    justify-content:center;
}
